body{
  height:100vh;
  overflow: hidden;
}
canvas{
  position: absolute;
  top:0;
  left:0;
  z-index:15;
  pointer-events: none;
  mix-blend-mode: difference;
}
/*--------- rend invisible la balise svg (etant un module pour un masque)-----*/
.path{
  /* position: absolute;
  width:0;
  height:0;
  margin:0;
  padding:0; */
}
.svg-container {
display: inline-block;
/* position: relative; */
width: 100%;
padding-bottom: 100%;
vertical-align: middle;
overflow: hidden;
}
.svg-content{
  width:100%;
  height:100%;
}
.circle{

  r:175;
  transition: r 0.5s 0s ease;
}

.circle:hover {
r:200;
}

@keyframes circle {
  to{
    r: 175;
  }
  from{
    r: 200;
  }
}
/*------------------------------*/
path{
  width:1000px;
}
#main-container{
  /* position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%; */
}
#nav-wrapper{
  position: absolute;
  top:0;
  z-index:20;
  width:100%;
  height:100%;
  background-color: rgba(0,100,200,0);
pointer-events: none;
}
#navButton{
  z-index: 30;
  position: absolute;
  top:0;
  right:0;
  width:50px;
  height:50px;
  background-color: blue;
  cursor: pointer;
  visibility:hidden;
}
#about{
  position: absolute;
  top:0;
  width: 100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: "arial";
  font-size: 30px;
  color:rgba(200,200,200,1);
  text-align: center;
}

#bg-timbre{
  width:100vw;
  height:100vh;
  /* background-image: url("imgs/bgMarbre.png"); */
  background-size: cover;
  background-position: center;
}
#bg-rope{
  width:100%;
  height:100%;
  background-color: rgb(31,29,30);
  /* overflow-y: hidden; */
  background-size: cover;
}



#mask1{
  transform: scale(2.3) translate(-20px, -130px);
  transition: transform 1s 0s ease;
}
#mask2{
  transform: scale(2.4) translate(-100px, -80px);
  transition: transform 1s 0s ease;
}
#mask3{
  transform: scale(2.4) translate(-95px, -130px);
  transition: transform 1s 0s ease;
}
#mask4{
  transform:  scale(1) translate(920px, -385px);
  transition: transform 1s 0s ease;
}
#mask5{
  width:100vw;
  transform: translate(-200px, 210px);
}




#bg-wrapper{
  /* z-index:10; */
  position: absolute;
  top:0;
  width:100vw;
  height:100vh;
  background-image: url("imgs/bgMarbre.png");
  background-size: cover;
background-position: center;
  clip-path:  url("#decoupage");
  filter: brightness(1);
  transition: filter .3s 0s ease;

  /* mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-origin: fill-box;
  mask-size: 10px;
  mask-image: url("#decoupage"); */


}

/*------------------------------------------DEMI-CERCLES */
#main-container #wrapperSVG{
  width:100px;
  /* transform: scale(1.5) rotate(180deg); */
  position: absolute;
  bottom:30%;
  left:28%;
  /* z-index:12; */
}
#main-container #wrapperSVG2{
  width:100px;
  transform: scale(1.5) rotate(180deg);
  position: absolute;
  bottom: calc(30% - 175px);
  left: calc(28% - 150px);
  z-index:12;
}
#main-container #wrapperSVG3{
  width:100px;
  transform: scale(1.5) rotate(180deg);
  position: absolute;
  top: calc(20%);
  right: calc(35%);
  z-index:16;
}
.containerSVG{
height: 50px;
}
#wrapperSVG .containerSVG{
  position: absolute;
  transform: scale(1.5) rotate(180deg);

}
.containerSVG2{
height: 100px;
}
.containerSVG svg{
  overflow: hidden;
}
#wrapperSVG .containerSVG:nth-child(1){
  top:75px;
}
#wrapperSVG .containerSVG:nth-child(2){
  top:0px;
  z-index: 20;
}
#wrapperSVG .containerSVG:nth-child(3){
  top:-75px;
  z-index:20;
}
#main-container #circle1 {
stroke: #F6F6F6;
mix-blend-mode: difference;
}
#main-container #circle2 {
stroke:  #08EF87;

}
#main-container #circle3 {
stroke: #F6F6F6;
}
#main-container #circle4 {
stroke: #F6F6F6;
mix-blend-mode: difference;

}
#main-container #circle5 {
stroke: #08EF87;
}
#main-container #circle6 {
stroke: #08EF87;
}
#main-container #circle7 {
stroke: #08EF87;
}

#main-container circle {
  transform: translateY(-50px);
  fill: rgba(0,0,0,0);
  stroke-width: 50;
  /* clip-path:  url("#decoupage2"); */
  transition: stroke-dasharray 1s 0s ease;
}
.activeCircle{
  stroke-dasharray:calc(25*(2*3.14159265358979*50)/100) calc(2*3.14*50);
}
#main-container .activeCircleComplet{
  stroke-dasharray:calc(50*(2*3.14159265358979*50)/100) calc(2*3.14*50);
  transform: translateY(0px);

}
#main-container .activeCircleCompletTranslate{
  transform: translateY(0px);
}
#main-container .activeCircleComplet:hover{
  stroke-dasharray:calc(-1*(2*3.14159265358979*50)/100) calc(2*3.14*50);
  transform: translateY(0px);
}
.inactiveCircle{
  stroke-dasharray:calc(-1*(2*3.14159265358979*50)/100) calc(2*3.14*50);
}
.activeCircle:hover{
  stroke-dasharray:calc(-1*(2*3.14159265358979*50)/100) calc(2*3.14*50);
}
/* ----------------------------------------------------------------------------------------- */
