body{
  height:100vh;
  overflow: hidden;
}

/*--------- rend invisible la balise svg (etant un module pour un masque)-----*/
.path{
  position: absolute;
  width:0;
  height:0;
  margin:0;
  padding:0;
}
.svg-container {
display: inline-block;
position: relative;
width: 100%;
padding-bottom: 100%;
vertical-align: middle;
overflow: hidden;
}
.svg-content{
  /* z-index:25; */
  width:100%;
  height:100%;
}
.circle{
  animation: circle 5s 0s ease;
  animation-iteration-count: infinite;
animation-direction: alternate;

}
.circle:hover {
  animation: circle .5s 0s ease;
  animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes circle {
  to{
    r: 175;
  }
  from{
    r: 200;
  }
}
/*------------------------------*/
path{
  width:1000px;
}
#main-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
#nav-wrapper{
  position: absolute;
  top:0;
  z-index:2;
  width:100%;
  height:100%;
  background-color: rgba(0,100,200,0);
pointer-events: none;
}
#navButton{
  z-index: 3;
  position: absolute;
  top:0;
  right:0;
  width:50px;
  height:50px;
  background-color: blue;
  cursor: pointer;
  visibility:hidden;
}
#about{
  position: absolute;
  top:0;

  width: 100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: "arial";
  font-size: 30px;
  color:rgba(200,200,200,1);
  text-align: center;
}
#bg-timbre{
  width:100vw;
  height:100vh;
  background-image: url("imgs/bgMarbre.png");
  background-size: cover;
  background-position: center;
}
#bg-rope{
  width:100%;
  height:100%;
  background-color: #1F1D1E;
  /* overflow-y: hidden; */
  background-size: cover;
}



#mask1{
  transform: scale(2.3) translate(-20px, -130px);
  transition: transform 1s 0s ease;
}
#mask2{
  transform: scale(2.4) translate(-100px, -80px);
  transition: transform 1s 0s ease;
}
#mask3{
  transform: scale(2.4) translate(-95px, -130px);
  transition: transform 1s 0s ease;
}
#mask4{
  transform:  scale(1) translate(920px, -385px);
  transition: transform 1s 0s ease;
}
#mask5{
  width:100vw;
  transform: translate(-200px, 210px);
}




#bg-wrapper{
  z-index:1;
  position: absolute;
  top:0;
  width:100vw;
  height:100vh;
  background-image: url("imgs/bgMarbre.png");
  background-size: cover;
background-position: center;
  clip-path:  url("#decoupage");
  filter: brightness(1);
  transition: filter .3s 0s ease;

  /* mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-origin: fill-box;
  mask-size: 10px;
  mask-image: url("#decoupage"); */


}
